<div class="container">
    <div class="row">
        <table class="table table-hover border border-danger border-5 mt-2">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Category</th>
                    <th>Price</th>
                    <th>Vegetarian?</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
            @for (item of menu; track $index) {
                <tr>
                    <td [class.soldOut]="item.soldOut">{{item.name}} @if(item.soldOut){(Sold Out)}</td>
                    
                    <td>{{item.category}}</td>
                    <td>{{item.price | currency}}</td>
                    @if(item.vegetarian){
                        <td>Vegetarian</td>
                    }
                    @else {
                        <td></td>
                    }
                    @if(item.soldOut){
                        <td><button type="button" disabled>Add to Order</button></td>
                    }
                    @else {
                        <td><button (click)="addToTotal(item.price)" type="button">Add to Order</button></td>
                    }
                </tr>
            }
        </tbody>
        </table>
        <div class="row text-center">
        <h1>Total: {{total | currency}}</h1>
        </div>
        <div class="row text-center">
        <button type="button" (click)="checkOut()">Checkout</button>
    </div>
    </div>
</div>